/* Taken from youtube tutorial so there fore in a separate css file */

header nav{
  display: inline-block;
  position: fixed;    
  background: #222831;
  height: 60px;
  width: 100%;  
  z-index: 10;
}
header label.logo{
  color: white;
  font-size: 20px;
  line-height: 60px;
  padding: 0 70px;  
}
header nav ul{
  float: right;
  margin-right: 20px;
  margin-top: 0px;
  
}
header nav ul li{
  display: inline-block;
  line-height: 60px;
  margin: 0 auto;
}
header nav ul li a{
  color: white;
  font-size: 18px;
  padding:20px; 
  text-transform: uppercase;
}
header a.active,a:hover{
  background: black;
  opacity: .8;
  transition: .2s;
}
header .checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 60px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
header #check{
  display: none;
}
@media (max-width: 952px){
  header label.logo{
    font-size: 20px;
    padding-left: 50px;
  }
  header nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  header .checkbtn{
    display: block;
  }
  header ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 60px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 10;
  }
  header nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  header nav ul li a{
    font-size: 30px;
  }
  header a:hover,a.active{
    background: none;
    color: #00adb5;
  }
  header #check:checked ~ ul{
    left: 0;
  }
}

