@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/*For separate Project pages made an own css file to keep thing more organised */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 1em;
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
    overflow-x: hidden;    
    color: black;
}


/* ------------ General Styles -----------------*/
a{
    text-decoration: none;
}

.container{
    min-height: 100vh;
    width: 100%;
    display:flex;    
    align-items: center;
    justify-content: center;
    background-image: url(20200805_085315.jpg); 
    background-size: cover;
    background-position: top center;
    padding-top: 3.1em;
}

.container:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .60;
    z-index: 0;
    
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

span{
    color: #00adb5;
}

h1{
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: .2em;    
}





/*------------- End of general styles -------- */

/* ---------------Nav bar --------------------------*/

header .nav-bar{ 
    position: fixed;
    margin: 0;
    width: 100%;    
    background-color: #222831;
    color: #F7F5EE;    
    text-align: center;
    z-index: 1;
    }

header .nav-bar ul {    
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    background-color: #333;
    
}

#myName{
    float: left; 
    margin-left: 5em;
    padding: 16px 18px;
}
#contact{
    margin-right: 5em;
    border-radius: 40%;
    background-color: #00adb5;
}

header .nav-bar li {
    float: right;
}

 header .nav-bar li a {    
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 16px 18px;
    
    
}

 header .nav-bar li a:hover:not(.active) {
    background-color: #111;
    opacity: 0.75;
    transition: .3s ease;
}

header .nav-bar li .active {
    background-color:#111;
    opacity: 0.5;
}

/* ---------------END of Nav bar --------------------------*/

/*-----------------main page start ------------------------*/

.content{    
    background-color: whitesmoke;
    border-radius: .5em;
    min-height: 55rem;
    width: 85rem;
    display: flex;
    z-index: 1;
    
}

.left-side{
    margin: 2em;
    width: 50%;
    border-right: 2px solid grey;
}

.content .left-side .info {
    height: 80%;
    padding-right: 2em;
}

.content .left-side .info h1{
    margin-bottom: 1em;
}

.right-side{
    margin: 2em;
    width: 50%;
    overflow: hidden;
}

.content .left-side .button{
    height: 20%;    
    
}

.content .left-side .button a{
    background-color: #555555;
    border: none;
    border-radius: 2rem;
    color: white;
    padding: 10px 25px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.1s;      
    margin-top: 7em;
    display: inline-block
  
}

.content .left-side a:hover{
    background-color: darkgrey; 
    
}
/*------------ right side image gallery-----------*/

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 100%;
    padding: 0 4px;    
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    height: auto;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 1000px) {
    .column {
        flex: 100%;
        max-width: 100%;
  }
    .container{
        padding-top: 3.1em;
    }
    
}

@media screen and (max-width: 700px) {
    
       .container{
        padding-top: 6.2em;
    }
    
    .content{
        flex-direction: column;
    }
    
    .left-side{
        width:  87%;
}
    
    .right-side{
        width:  87%;
        overflow: visible;
        margin-top: 2em;
        
}
    .content .left-side .button a{
        position: relative;
        margin-top: 2em;
        bottom: -1.5em;
    }  
    body{
        background-color: whitesmoke;
    
}
    }
    
    h1{
        font-size: 2em;
    }
 





